<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Carosello News</title>
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css"/>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Slider</title>
</head>
<body>

    <div id="app">

        <div class="container" >
            <div class="slider-wrapper" tabindex="0" @mouseover="stopTimer" @mouseleave="timer">

                <div class="item">
                    <!-- Vue dynamic source for img -->
                    <img :src="slides[slidePosition].image" :alt="slides[slidePosition].title">
                    <div class="text">
                        <h3>{{ slides[slidePosition].title }}</h3>
                        <p>
                            {{ slides[slidePosition].text }}
                        </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="prev" @click="prev"></div>
                    <div class="next" @click="next"></div>
                    <!-- Vue v-for cicle for thumbnails -->
                    <!-- <div v-for="(thumbsElement, index) in slides" @click="slidePosition = [index]" class="thumb" :class='index === slidePosition ? "active" : ""'> -->
                    <div v-for="(thumbsElement, index) in slides" @click="slidePosition = index" class="thumb" :class='slidePosition === index ? " active" : ""'>
                        <img :src="thumbsElement.image" :alt="thumbsElement.title">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>
